@if (data.length > 1) {
	@for (history of data; track history.id; let first = $first) {
		<app-collapse-item [label]="history?.courseName" [id]="history?.id.toString()" [expanded]="first">
			<ng-container *ngTemplateOutlet="templateRef; context: { $implicit: history }"></ng-container>
		</app-collapse-item>
		@if (!$last) {
			<hr class="divider" />
		}
	}
} @else {
	@if (data.length === 1) {
		<ng-container *ngTemplateOutlet="templateRef; context: { $implicit: data[0] }"></ng-container>
	} @else {
		<p>Nenhuma informação acadêmica cadastrada.</p>
	}
}

<ng-template #templateRef let-history>
	<div class="row">
		<div class="col-12 col-lg-3">
			<app-item-info label="Nome da Instituição" [value]="history?.institutionName"></app-item-info>
		</div>
		<div class="col-12 col-lg-3">
			<app-item-info
				label="Tipo de Instituição"
				[value]="history?.institutionType | getInstitutionTypeDescription"
			></app-item-info>
		</div>
		<div class="col-12 col-lg-3">
			<app-item-info label="Nome do Curso" [value]="history?.courseName"></app-item-info>
		</div>
		<div class="col-12 col-lg-3">
			<app-item-info label="Nível do Curso" [value]="history?.courseLevel | getCourseLevelDescription"></app-item-info>
		</div>
		<div class="col-12 col-lg-3">
			<app-item-info label="País" [value]="history?.country"></app-item-info>
		</div>
		<div class="col-12 col-lg-3">
			<app-item-info label="Data de Ingresso" [value]="history?.startDate | date: 'dd/MM/y'"></app-item-info>
		</div>
		<div class="col-12 col-lg-3">
			<app-item-info label="Data de Conclusão" [value]="history?.endDate | date: 'dd/MM/y'"></app-item-info>
		</div>
		<div class="col-12 col-lg-3">
			<app-item-info label="Estado" [value]="history?.state"></app-item-info>
		</div>
		<div class="col-12 col-lg-3">
			<app-item-info label="Cidade" [value]="history?.city"></app-item-info>
		</div>
		<div class="col-12 col-lg-3">
			<app-item-info label="Matrícula" [value]="history?.registrationNumber || '--'"></app-item-info>
		</div>
	</div>
</ng-template>
