<app-card-chart title="Estudantes">
	<section class="d-flex g-2 pt-3">
		<div class="d-flex align-items-center chart-container">
			<span class="total">{{ pieChartSum() | number: '.' }}</span>
			<canvas baseChart type="doughnut" [options]="doughnutChartOptions" [data]="data()"></canvas>
		</div>
		<div class="d-flex flex-column justify-content-center ml-2 gap-2">
			@for (option of percents(); track option.name) {
				<div class="d-flex align-items-center gap-1">
					<div class="color-box" [class.inactive]="option.name === 'Inativo'"></div>
					<span class="color-label">{{ option.name }} {{ option.value }}%</span>
				</div>
			}
		</div>
	</section>
</app-card-chart>
