<app-card-chart title="Estudantes">
	<section class="d-flex g-2">
		<div class="d-flex align-items-center chart-container">
			<span class="total">{{ pieChartSum | number: '.' }}</span>

			<ngx-charts-pie-chart
				legendTitle="Legenda"
				[results]="data"
				[legend]="false"
				[labels]="false"
				[doughnut]="true"
				[gradient]="false"
				[view]="[200, 200]"
				[scheme]="colorScheme"
			>
			</ngx-charts-pie-chart>
		</div>
		<div class="d-flex flex-column justify-content-center ml-2 gap-2">
			@for (option of percents; track option.name) {
				<div class="d-flex align-items-center gap-1">
					<div class="color-box" [class.inactive]="option.name === 'Inativo'"></div>
					<span class="color-label">{{ option.name }} {{ option.value }}%</span>
				</div>
			}
		</div>
	</section>
</app-card-chart>
