<div class="br-input" [ngClass]="[size, hasButton ? 'input-button' : '', state]">
	<label for="input-{{ id }}">
		{{ label }}
	</label>
	@if (hasIcon) {
		<div class="input-group">
			<div class="input-icon"><i [class]="icon" aria-hidden="true"></i></div>
			<input [disabled]="disabled" id="input-{{ id }}" [type]="type" [placeholder]="placeholder" />
		</div>
	} @else {
		<input [disabled]="disabled" id="input-{{ id }}" [type]="type" [placeholder]="placeholder" />
		@if (hasButton) {
			<button (click)="clickButton.emit()" class="br-button" type="button" aria-label="Botão">
				<i [class]="icon" aria-hidden="true"></i>
			</button>
		}
	}
	@if (hint) {
		<p>{{ hint }}</p>
	}
	@if (disabled) {
		<span class="feedback warning" role="alert"
			><i class="fas fa-exclamation-triangle" aria-hidden="true"></i>Campo Desabilitado</span
		>
	} @else {
		@switch (state) {
			@case ('info') {
				<span class="feedback info" role="alert" id="info"
					><i class="fas fa-info-circle" aria-hidden="true"></i>{{ feedback }}</span
				>
			}
			@case ('success') {
				<span class="feedback success" role="alert" id="success"
					><i class="fas fa-check-circle" aria-hidden="true"></i> {{ feedback }}
				</span>
			}
			@case ('danger') {
				<span class="feedback danger" role="alert" id="danger"
					><i class="fas fa-times-circle" aria-hidden="true"></i>{{ feedback }}</span
				>
			}
			@case ('warning') {
				<span class="feedback warning" role="alert" id="warning"
					><i class="fas fa-exclamation-triangle" aria-hidden="true"></i>{{ feedback }}</span
				>
			}
		}
	}
</div>
