<h1>Detalhes do Egresso</h1>
<app-tabs [(activeTab)]="activeTab" [tabs]="tabs"></app-tabs>
<section>
	@switch (activeTab) {
		@case (GraduateTabs.PersonalData) {
			<app-graduate-personal-data></app-graduate-personal-data>
		}
		@case (GraduateTabs.AcademicInformation) {
			@defer (when activeTab === GraduateTabs.AcademicInformation) {
				<app-graduate-academic-information></app-graduate-academic-information>
			}
		}
		@case (GraduateTabs.ProfessionalInformation) {
			@defer (when activeTab === GraduateTabs.ProfessionalInformation) {
				<app-graduate-professional-information></app-graduate-professional-information>
			}
		}
		@case (GraduateTabs.Testimonies) {
			@defer (when activeTab === GraduateTabs.Testimonies) {
				<app-graduate-testimonials></app-graduate-testimonials>
			}
		}
		@case (GraduateTabs.Publications) {
			@defer (when activeTab === GraduateTabs.Publications) {
				<app-graduate-publications></app-graduate-publications>
			}
		}
		@default {
			<app-graduate-personal-data></app-graduate-personal-data>
		}
	}
</section>
