<h1>{{ mode() === 'create' ? 'Cadastrar' : 'Editar' }} Informações</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-edit">
	<div class="row">
		<div class="col-12 col-lg-3">
			<app-input id="companyName" label="Nome da Empresa" formControlName="companyName"></app-input>
		</div>
		<div class="col-12 col-lg-3">
			<app-select [options]="categoryOptions" id="category" label="Categoria" formControlName="category"></app-select>
		</div>
		<div class="col-12 col-lg-3">
			<app-select
				[options]="jobTypeOptions"
				id="jobType"
				label="Tipo de Emprego"
				formControlName="jobType"
			></app-select>
		</div>
		<div class="col-12 col-lg-3">
			<app-select [options]="locationOptions" id="location" label="Localidade" formControlName="location"></app-select>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-lg-3">
			<app-input id="jobTitle" label="Cargo" formControlName="jobTitle"></app-input>
		</div>
		<div class="col-12 col-lg-3">
			<app-select
				[options]="jobLevelOptions"
				id="jobLevel"
				label="Nível do Cargo"
				formControlName="jobLevel"
			></app-select>
		</div>
		<div class="col-12 col-lg-3">
			<app-input id="function" label="Função" formControlName="function"></app-input>
		</div>
		<div class="col-12 col-lg-3">
			<app-input id="salaryMedia" label="Média Salarial" formControlName="salary" type="number"></app-input>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-lg-3">
			<app-date-time-picker
				id="startDate"
				label="Data de Ingresso"
				type="date"
				formControlName="startDate"
			></app-date-time-picker>
		</div>
		<div class="col-12 col-lg-3">
			<app-date-time-picker
				id="endDate"
				label="Data de Conclusão"
				type="date"
				formControlName="endDate"
			></app-date-time-picker>
		</div>
		<div class="col-12 col-lg-3">
			@if (relatedAcademicInfoOptions.length > 1) {
				<app-select
					[options]="relatedAcademicInfoOptions"
					id="relatedAcademicInfo"
					label="Curso Relacionado"
					formControlName="relatedAcademicInfo"
				></app-select>
			}
		</div>
		<div
			class="col-12 col-lg-3 d-flex align-items-end justify-content-lg-end justify-content-center mt-4 mt-md-0 gap-3"
		>
			@if (mode() === 'edit') {
				<button br-button color="secondary" (click)="onDelete()">Excluir</button>
			}
			<button br-button color="primary">Salvar</button>
		</div>
	</div>
</form>
