#btn-new {
	width: 100%;
	height: 0;
	display: flex;
	justify-content: flex-end;

	@media (max-width: 768px) {
		display: none;
	}
}

#btn-new-mobile {
	width: 100%;
	display: flex;
	justify-content: center;
  margin-top: 24px;

	@media (min-width: 768px) {
		display: none;
	}
}

.btn-edit {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	height: 12px;
	position: relative;
	bottom: 2rem;

	@media (max-width: 768px) {
		justify-content: center;
    position: initial;
    margin: 12px 0;
    height: auto;
	}
}
