<p>home works!</p>

<button br-button type="secondary">
	<i class="fas fa-user"></i>
	Teste
</button>

<app-input
	[formControl]="inputControl"
	required
	type="password"
	id="teste"
	label="Teste"
	hasButton
	icon="fas fa-eye"
	hint="teste"
>
	@if (inputControl.invalid && inputControl.dirty) {
		<span br-feedback state="danger">Campo obrigatório</span>
	}
</app-input>

<app-textarea id="text" [formControl]="inputControl" label="teste" maxLength="300"> </app-textarea>

<app-select [formControl]="selectControl" label="teste" id="asd" [data]="options"> </app-select>

<app-multi-select [formControl]="multiSelectControl" label="teste" id="as" [data]="options"> </app-multi-select>
