/* You can add global styles to this file, and also import other style files */
@import '@angular/cdk/overlay-prebuilt.css';

html,
body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

body {
	font-style: normal;
	font-weight: 400;
	font-family: 'rawline', sans-serif;
	font-variant-numeric: lining-nums proportional-nums;
	font-size: 14px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clickable {
	cursor: pointer;
}

.br-message {
	animation: all ease-in-out 1s;
}

.bg-gray {
	background-color: var(--gray-2, #f8f8f8);
}

.form-edit {
	padding: 40px;
	background-color: var(--gray-2, #f8f8f8);
	display: flex;
	flex-direction: column;
	row-gap: 24px;

	@media (max-width: 768px) {
		padding: 12px;
	}
}

.cdk-overlay-pane.dialog {
	display: block;
	background: #fff;
	border-radius: 0;
	padding: 24px 36px;

	i {
		cursor: pointer;
	}

	*:focus-visible {
		outline: none;
	}
}
