@if (data.length > 1) {
	@for (info of data; track info.id; let first = $first) {
		<app-collapse-item [label]="info?.relatedAcademicInfo" [id]="info?.id.toString()" [expanded]="first">
			<ng-container *ngTemplateOutlet="templateRef; context: { $implicit: info }"></ng-container>
		</app-collapse-item>
		@if (!$last) {
			<hr class="divider" />
		}
	}
} @else {
	@if (data.length === 1) {
		<ng-container *ngTemplateOutlet="templateRef; context: { $implicit: data[0] }"></ng-container>
	} @else {
		<p>Nenhuma informação profissional cadastrada.</p>
	}
}

<ng-template #templateRef let-testimonial>
	<div class="row">
		<div class="col-12">
			<app-item-info label="Texto do Depoimento" [value]="testimonial?.text"></app-item-info>
		</div>
		<div class="col-12 col-lg-3">
			<app-item-info label="Curso" [value]="testimonial?.relatedAcademicInfo"></app-item-info>
		</div>
		<div class="col-12 col-lg-3">
			<app-item-info
				label="Privacidade do Depoimento"
				[value]="testimonial?.privacy | getPrivacyDescription"
			></app-item-info>
		</div>
		<div class="col-12 col-lg-3">
			<app-item-info label="Identificador" [value]="testimonial?.id"></app-item-info>
		</div>
		<div class="col-12 col-lg-3">
			<app-item-info
				label="Data do Cadastro do Depoimento"
				[value]="testimonial?.registrationDate | date: 'dd/MM/y'"
			></app-item-info>
		</div>
	</div>
</ng-template>
